body {
    background-image: url("../assets/bgtexture.jpg");
    background-size: cover;
}

.font-color, .nav-link, span {
    color: #5F002B !important;
}

#hero-image {
    background-image: url("../assets/homeHero.jpg");
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 15%;
    position: relative;
    margin-left: 0px !important;
    margin-bottom: 5rem;
}

#catering-hero-image {
    background-image: url("../assets/cateringHero.jpg");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.catering-hero-row {
    margin-bottom: 3rem !important;
}

.photo-border {
    border: #fff solid 10px;
}

.photo-padding {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

@media screen and (max-width: 991px) {
    #muzzle-logo-width {width: 75%;}
}