body {
    background-image: url("../assets/bgtexture.jpg");
    background-size: conver;
}

.font-color, .nav-link, span {
    color: #5F002B !important;
}

#hero-image {
    background-image: url("../assets/homeHero.jpg");
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 15%;
    position: relative;
    margin-left: 0px !important;
    margin-bottom: 5rem;
}

@media screen and (max-width: 991px) {
    #muzzle-logo-width {width: 75%;}
}